[Unit]
Description=Antdaza Full Node
After=network-online.target

[Service]
User=antdaza
Group=antdaza
WorkingDirectory=~
StateDirectory=antdaza
LogsDirectory=antdaza

Type=simple
ExecStart=/usr/bin/antdazad --config-file /etc/antdazad.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
